In [2]:
import pandas as pd
import numpy as np

In [3]:
poss_file = 'explore-shottracker/timeseries/M_8279c1d6-4e02-11ea-ab59-024282923f19/M_8279c1d6-4e02-11ea-ab59-024282923f19_playerPossession.csv'

shots_file = 'explore-shottracker/timeseries/M_8279c1d6-4e02-11ea-ab59-024282923f19/M_8279c1d6-4e02-11ea-ab59-024282923f19_shots.csv'

poss_df = pd.read_csv(poss_file)
shots_df = pd.read_csv(shots_file)

In [4]:
len(poss_df)

2105

In [5]:
len(shots_df)

271

In [6]:
poss_df.columns

Index(['timestamp', 'eventVersion', 'event', 'sessionID', 'sessionState',
       'group', 'playerID', 'playerSensorID', 'X', 'Y', 'Z', 'ballSensorID'],
      dtype='object')

In [9]:
poss_df = poss_df[['timestamp', 'event', 'group', 'playerID', 'X', 'Y']]

In [10]:
shots_df = shots_df[['timestamp', 'event', 'group', 'playerID', 'playerX', 'playerY']]

In [27]:
shots_df = shots_df.rename(columns={'playerX': 'X', 'playerY': 'Y'})

In [7]:
shots_df.columns

Index(['timestamp', 'eventVersion', 'event', 'sessionID', 'sessionState',
       'group', 'playerID', 'playerSensorID', 'firedTimestamp', 'playerX',
       'playerY', 'playerZ', 'ballSensorID', 'hoopID', 'hoopX', 'hoopY',
       'hoopZ'],
      dtype='object')

In [28]:
result_df = pd.concat([poss_df, shots_df])

In [34]:
result_df = result_df.sort_values(['timestamp'])

In [21]:
result_df.columns

Index(['X', 'Y', 'event', 'group', 'playerID', 'playerX', 'playerY',
       'timestamp'],
      dtype='object')

In [36]:
result_df.head()

       timestamp                   event  group  playerID       X       Y
0  1581564101456   enrichedgotpossession   1730   78852.0  4848.0 -4317.0
1  1581564101763  enrichedlostpossession   1730   78852.0  4848.0 -4317.0
2  1581564102047   enrichedgotpossession   1730   67927.0 -1392.0 -3474.0
3  1581564103487  enrichedlostpossession   1730   67927.0 -1337.0 -2671.0
4  1581564104123   enrichedgotpossession   1730   67906.0 -6427.0 -8179.0

In [37]:
result_df.X.iloc[0]

4848.0

In [38]:
result_df.X.iloc[1:len(result_df)]

1       4848.0
2      -1392.0
3      -1337.0
4      -6427.0
5      -5754.0
         ...
2100    -717.0
2101    -438.0
2102    -595.0
2103   -3684.0
2104     618.0
Name: X, Length: 2375, dtype: float64

In [46]:
end_X = np.array(result_df.X.iloc[1:len(result_df)])
end_X = np.append(end_X, np.nan)

In [47]:
len(end_X)

2376

In [49]:
result_df['end_X'] = end_X

In [50]:
result_df.head()

,timestamp,event,group,playerID,X,Y,end_X
0,1581564101456,enrichedgotpossession,1730,78852.0,4848.0,-4317.0,4848.0
1,1581564101763,enrichedlostpossession,1730,78852.0,4848.0,-4317.0,-1392.0
2,1581564102047,enrichedgotpossession,1730,67927.0,-1392.0,-3474.0,-1337.0
3,1581564103487,enrichedlostpossession,1730,67927.0,-1337.0,-2671.0,-6427.0
4,1581564104123,enrichedgotpossession,1730,67906.0,-6427.0,-8179.0,-5754.0

In [51]:
end_Y = np.array(result_df.Y.iloc[1:len(result_df)])
end_Y = np.append(end_Y, np.nan)
result_df['end_Y'] = end_Y

In [52]:
result_df.head()

,timestamp,event,group,playerID,X,Y,end_X,end_Y
0,1581564101456,enrichedgotpossession,1730,78852.0,4848.0,-4317.0,4848.0,-4317.0
1,1581564101763,enrichedlostpossession,1730,78852.0,4848.0,-4317.0,-1392.0,-3474.0
2,1581564102047,enrichedgotpossession,1730,67927.0,-1392.0,-3474.0,-1337.0,-2671.0
3,1581564103487,enrichedlostpossession,1730,67927.0,-1337.0,-2671.0,-6427.0,-8179.0
4,1581564104123,enrichedgotpossession,1730,67906.0,-6427.0,-8179.0,-5754.0,-6146.0

In [53]:
result_df.tail()

,timestamp,event,group,playerID,X,Y,end_X,end_Y
2100,1581570686810,enrichedlostpossession,1737,68012.0,-717.0,-10924.0,-438.0,-14682.0
2101,1581570687116,enrichedgotpossession,1730,67927.0,-438.0,-14682.0,-595.0,-14824.0
2102,1581570687952,enrichedlostpossession,1730,67927.0,-595.0,-14824.0,-3684.0,2567.0
2103,1581570690439,enrichedgotpossession,1730,78846.0,-3684.0,2567.0,618.0,2030.0
2104,1581570695039,enrichedlostpossession,1730,78846.0,618.0,2030.0,NaN,NaN

In [54]:
result_df = result_df.rename(columns={'X': 'start_X', 'Y': 'start_Y'})

In [ ]:
def classify_action(df):
    if 'make' or 'miss'